* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  text-align: right;
  color: #999;
}

body {
  background-color: #efefef;
}

main {
  position: relative;
  top: 200px;
  width: 60%;
  min-width: 485px;
  margin: 0 auto;

}

h1 {
  font-size: 4em;
  font-weight: 300;
  padding-right: 20px;
}

h4 {
  font-size: 3em;
  font-weight: 300;
  display: inline-block;
  background-color: #e3e3e3;
  width: 32.92%;
  margin: 1px;
  padding: 0;
  padding-right: 20px;
  flex: 1 0 calc(24.5% - 20px);
}

h4:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

#keypad {
  height: 248px;
  display: flex;
  flex-direction: row wrap;
  flex-wrap: wrap;
}

.twoEx {
  padding-left: 2px;
  width: 200% !important;
  flex: 1 0 calc(49% - 20px);

}
